<ul class='navbar'>
  <li class='nav'>
    <%= link_to "Home", root_path, class: 'nav-link' %>
  </li>
  <li class='nav'>
    <%= link_to "Log", new_workout_path, class: 'nav-link' %>
  </li>
  <li class='nav'>
    <%= link_to "Team", team_workouts_path, class: 'nav-link' %>
  </li>
</ul>
