<h3>Welcome, <%= @user.first_name %></h3>
<%= link_to "My Account", account_path %>
<%= link_to "Log out", session_path(current_user), method: :delete %>
<%= link_to "Log workout", new_workout_path %>
